<div class="container">
  <h1>User Registration</h1>
  <form #login="ngForm" (ngSubmit)="submit(login)">

  <div class="form-group">
  <label for="firstname">FirstName</label><br>
  <input #name="ngModel" required minlength="2" maxlength="10" type="text" name="firstname" id="form-control" ngModel>
  </div>
  <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
      <p *ngIf="name?.errors?.['required']">First Name required</p>
      <p *ngIf="name?.errors?.['minlength']"> Sorry ! short first Name</p>
  </div>

  <pre></pre>

  <div class="form-group">
  <label for="lastname">LastName</label><br>
  <input type="text" name="lastname" id="form-control" ngModel>
  </div>
  <pre></pre>

  <div class="form-group">
  <label for="email">Email</label><br>
  <input type="text" name="email" id="form-control" ngModel>
  </div>
  <pre></pre>

  <div class="form-group">
  <label for="password">Password</label><br>
  <input type="text" name="password" id="form-control" ngModel>

  </div>
  <pre></pre>
  <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
